- form_for @track, :html => { :class => [:fancy] } do |f|
  %p.center
    %label Your Message
    %br
    = f.text_field :message, :value => params[:id], :size => 10

  %p.center
    %input{ :type => :submit }
