- form_for @track do |f|
  %p
    %label Card Number:
    = f.text_field :card_id
    %label Location:
    = f.text_field :location

  %input{ :type => :submit }

%p=account_signed_in? ? current_account.email : 'not logged in'
