- form_for @track, :html => { :class => [:fancy] } do |f|

  = f.hidden_field :card_id, :value => @card.try(:id)

  %p.center
    %label Your Card Number
    %br
    = f.text_field :serial_number, :value => @card.try(:serial_number), :size => 10

  %p.center
    %label Card Location
    %br
    = f.text_field :location, :size => 15

  %p.center
    %input{ :type => :submit }
