- form_for @track, :html => { :class => [:fancy] } do |f|
  %p.center
    %label Your Card Number
    %br
    = f.text_field :serial_number, :value => params[:id], :size => 10

  %p.center
    %label Card Location
    %br
    = f.text_field :location, :size => 15

  %p.center
    %input{ :type => :submit }
