html{height:100%;margin:0;padding:0;background:#bdf url(/clouds.jpg) no-repeat center center;background-size: 100%;}
body{width:600px;height:100%;margin:0 auto;border-left:solid 1px black;border-right:solid 1px black;}
header{margin:0;background:rgba(0,0,0,0.4);padding:25px;color:white;}
header h1{margin:0;text-align:center;font-size:36pt;}
.content{background:white;height:100%;padding:10px;margin:0;}
.gravatar{margin:0 5px;}
.float_left{float:left;}
.float_right{float:right;}
.center{text-align:center;}

form.fancy label{font-size:14pt;}
form.fancy input{font-size:20pt;}