- if signed_in?
  = link_to 'Account Owner', @account
  |
  = link_to 'add track', new_card_track_path(@card)

%h1 Acts of Kindness For Card ##{@card.serial_number}
= render :partial => 'tracks/index'
